*{
    margin: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon-logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}


.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 20px;
}
.add-sec{
    font-size: 1rem;
}
.add-icon{
    display: flex;
    align-items: center;
}


.nav-search{
    display: flex;
    width: 580px;
    height: 40px;
    border-radius: 4px;  
    justify-content: space-evenly; 
}
.search-select{
    background-color: #F3F3F3;
    text-align: center;
    width: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(228, 175, 13);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: black;
}

.eng{
     display: flex;
     width: 30px;
     cursor: pointer;
     justify-content: center;
     align-items: center;
}
.flag{
    display:flex;

}
.eng-r{
    height: 20px;
    display: flex;
}
.add-first1{
    color: #cccccc;
    font-size: 0.85rem;
}
.add-sec2{
    font-size: 1rem;
}
.cart{
    display:flex;
    width: 30px;
}
.icon-cart{
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
}